In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [26]:
data = pd.read_csv('../DATA/regression_remove_data.csv')
data

,HighBP,HighChol,CholCheck,BMI,HvyAlcoholConsump,NoDocbcCost,GenHlth,MentHlth,Age,Income,Diabetes_012
0,1.0,1.0,1.0,0.325581,0.0,0.0,1.00,0.6,0.666667,0.285714,0.0
1,0.0,0.0,0.0,0.151163,0.0,1.0,0.50,0.0,0.500000,0.000000,0.0
2,1.0,1.0,1.0,0.186047,0.0,1.0,1.00,1.0,0.666667,1.000000,0.0
3,1.0,0.0,1.0,0.174419,0.0,0.0,0.25,0.0,0.833333,0.714286,0.0
4,1.0,1.0,1.0,0.139535,0.0,0.0,0.25,0.1,0.833333,0.428571,0.0
...,...,...,...,...,...,...,...,...,...,...,...
253675,1.0,1.0,1.0,0.383721,0.0,0.0,0.50,0.0,0.333333,0.857143,0.0
253676,1.0,1.0,1.0,0.069767,0.0,0.0,0.75,0.0,0.833333,0.428571,1.0
253677,0.0,0.0,1.0,0.186047,0.0,0.0,0.00,0.0,0.083333,0.142857,0.0
253678,1.0,0.0,1.0,0.127907,0.0,0.0,0.50,0.0,0.500000,0.000000,0.0
253679,1.0,1.0,1.0,0.151163,0.0,0.0,0.25,0.0,0.666667,0.142857,1.0

In [35]:
cs = OneHotEncoder(sparse_output=False).fit_transform(data['Diabetes_012'].to_numpy().T.reshape(-1, 1))
cs = pd.DataFrame(cs, columns=['non_diabets', 'diabets', 'pre_diabets'])
cs

        non_diabets  diabets  pre_diabets
0               1.0      0.0          0.0
1               1.0      0.0          0.0
2               1.0      0.0          0.0
3               1.0      0.0          0.0
4               1.0      0.0          0.0
...             ...      ...          ...
253675          1.0      0.0          0.0
253676          0.0      0.0          1.0
253677          1.0      0.0          0.0
253678          1.0      0.0          0.0
253679          0.0      0.0          1.0

[253680 rows x 3 columns]

In [37]:
pd.concat([data.drop('Diabetes_012', axis=1), cs], axis=1).to_csv('../DATA/split_classes.csv', index=False)