In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../DATA/split_classes.csv', index_col=False)
x = data.drop(['diabets', 'pre_diabets', 'non_diabets'], axis=1)
diabets = data['diabets']
pre_diabets = data['pre_diabets']
non_diabets = data['non_diabets']

In [4]:
print('diabets',
      pd.value_counts(diabets),
      '\npre_diabets',
      pd.value_counts(pre_diabets),
      '\nnon_diabets',
      pd.value_counts(non_diabets),
      sep='\n')

diabets
0.0    249049
1.0      4631
Name: diabets, dtype: int64

pre_diabets
0.0    218334
1.0     35346
Name: pre_diabets, dtype: int64

non_diabets
1.0    213703
0.0     39977
Name: non_diabets, dtype: int64

In [6]:
diabets_true_index = np.where(diabets == 1)[0]
diabets_false_index = np.where(diabets == 0)[0]
np.random.shuffle(diabets_false_index)
pre_diabets_true_index = np.where(pre_diabets == 1)[0]
pre_diabets_false_index = np.where(pre_diabets == 0)[0]
np.random.shuffle(pre_diabets_false_index)
non_diabets_true_index = np.where(non_diabets == 1)[0]
non_diabets_false_index = np.where(non_diabets == 0)[0]
np.random.shuffle(non_diabets_false_index)

In [7]:
diabets_data = data.drop(['pre_diabets', 'non_diabets'], axis=1).iloc[diabets_true_index]
diabets_data = pd.concat([diabets_data, 
                          data.drop(['pre_diabets', 
                                     'non_diabets'], 
                                    axis=1).iloc[diabets_false_index[0:pd.value_counts(diabets).min()]]],
                          axis=0)
diabets_data

,HighBP,HighChol,CholCheck,BMI,HvyAlcoholConsump,NoDocbcCost,GenHlth,MentHlth,Age,Income,diabets
64,1.0,1.0,1.0,0.174419,0.0,1.0,0.75,1.000000,0.750000,0.285714,1.0
81,1.0,1.0,1.0,0.244186,0.0,0.0,0.50,0.100000,0.500000,0.857143,1.0
193,1.0,1.0,1.0,0.255814,0.0,0.0,0.25,0.000000,0.500000,1.000000,1.0
236,1.0,1.0,1.0,0.244186,0.0,0.0,1.00,1.000000,0.916667,0.714286,1.0
275,1.0,1.0,1.0,0.232558,0.0,0.0,1.00,0.000000,0.583333,0.857143,1.0
...,...,...,...,...,...,...,...,...,...,...,...
167075,0.0,0.0,1.0,0.186047,0.0,0.0,0.25,0.000000,0.333333,1.000000,0.0
65348,1.0,1.0,1.0,0.348837,0.0,0.0,0.50,0.666667,0.833333,0.142857,0.0
234990,1.0,0.0,1.0,0.313953,0.0,0.0,0.50,0.000000,1.000000,0.714286,0.0
204713,0.0,0.0,1.0,0.151163,0.0,0.0,0.50,0.000000,0.833333,0.000000,0.0
223763,0.0,1.0,1.0,0.186047,0.0,0.0,0.25,0.500000,0.333333,0.714286,0.0

In [8]:
diabets_data.sample(frac=1).reset_index(drop=True).to_csv('../DATA/diabets_classes.csv', index=False)

In [9]:
pre_diabets_data = data.drop(['diabets', 'non_diabets'],
                         axis=1).iloc[pre_diabets_true_index]
pre_diabets_data = pd.concat([pre_diabets_data,
                          data.drop(['diabets',
                                     'non_diabets'],
                                    axis=1).iloc[pre_diabets_false_index[0:pd.value_counts(pre_diabets).min()]]],
                         axis=0)
pre_diabets_data

,HighBP,HighChol,CholCheck,BMI,HvyAlcoholConsump,NoDocbcCost,GenHlth,MentHlth,Age,Income,pre_diabets
8,1.0,1.0,1.0,0.209302,0.0,0.0,1.00,1.000000,0.666667,0.000000,1.0
10,0.0,0.0,1.0,0.151163,0.0,0.0,0.50,0.000000,1.000000,1.000000,1.0
13,1.0,1.0,1.0,0.186047,0.0,0.0,0.75,0.000000,0.833333,0.714286,1.0
17,0.0,0.0,1.0,0.127907,0.0,0.0,0.25,0.000000,0.500000,0.714286,1.0
23,1.0,0.0,1.0,0.174419,0.0,0.0,0.00,0.000000,1.000000,0.428571,1.0
...,...,...,...,...,...,...,...,...,...,...,...
149254,0.0,0.0,1.0,0.116279,0.0,0.0,0.00,0.000000,0.500000,1.000000,0.0
67195,0.0,0.0,1.0,0.244186,0.0,0.0,0.50,0.000000,0.500000,1.000000,0.0
78276,0.0,0.0,1.0,0.186047,0.0,0.0,0.00,0.000000,0.583333,1.000000,0.0
126353,0.0,0.0,1.0,0.255814,0.0,0.0,0.00,0.066667,0.083333,1.000000,0.0
94663,1.0,1.0,1.0,0.139535,0.0,0.0,0.25,0.000000,0.750000,1.000000,0.0

In [10]:
pre_diabets_data.sample(frac=1).reset_index(drop=True).to_csv('../DATA/pre_diabets_classes.csv', index=False)

In [11]:
non_diabets_true_index

array([     0,      1,      2, ..., 253675, 253677, 253678], dtype=int64)

In [13]:
non_diabets_data = data.drop(['diabets', 'pre_diabets'],
                             axis=1).iloc[non_diabets_true_index]
non_diabets_data = pd.concat([non_diabets_data,
                              data.drop(['diabets',
                                         'pre_diabets'],
                                        axis=1).iloc[non_diabets_false_index[0:pd.value_counts(non_diabets).min()]]],
                             axis=0)
non_diabets_data

,HighBP,HighChol,CholCheck,BMI,HvyAlcoholConsump,NoDocbcCost,GenHlth,MentHlth,Age,Income,non_diabets
0,1.0,1.0,1.0,0.325581,0.0,0.0,1.00,0.600000,0.666667,0.285714,1.0
1,0.0,0.0,0.0,0.151163,0.0,1.0,0.50,0.000000,0.500000,0.000000,1.0
2,1.0,1.0,1.0,0.186047,0.0,1.0,1.00,1.000000,0.666667,1.000000,1.0
3,1.0,0.0,1.0,0.174419,0.0,0.0,0.25,0.000000,0.833333,0.714286,1.0
4,1.0,1.0,1.0,0.139535,0.0,0.0,0.25,0.100000,0.833333,0.428571,1.0
...,...,...,...,...,...,...,...,...,...,...,...
141022,1.0,1.0,1.0,0.255814,0.0,0.0,0.25,0.833333,1.000000,0.285714,0.0
62227,0.0,1.0,1.0,0.174419,0.0,0.0,0.50,0.000000,1.000000,0.857143,0.0
28534,1.0,1.0,1.0,0.162791,0.0,0.0,0.25,0.000000,0.750000,0.857143,0.0
246865,0.0,1.0,1.0,0.186047,0.0,0.0,0.75,0.233333,0.750000,1.000000,0.0
102514,1.0,0.0,1.0,0.127907,0.0,0.0,0.50,0.000000,1.000000,0.714286,0.0

In [14]:
non_diabets_data.sample(frac=1).reset_index(drop=True).to_csv('../DATA/non_diabets_classes.csv', index=False)